.App {
  text-align: center;
  vertical-align: middle;
}

.box {
  width: 46%;
  float: left;
  padding: 20px;
  vertical-align: middle;
}

.header-left {
  padding-top: 30vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  color: white;
  font-size: calc(20px + 2vmin);
}

.header-right {
  padding-top: 20vh;
  background-color: #ccddff;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #282c34;
  font-weight: bold;
  font-size: calc(13px + 1vmin);
}

/* #conversion-factor{
  width
}

#conversion-result{

} */