.App {
  text-align: center;
  vertical-align: middle;
}

.box {
  width: 46%;
  float: left;
  padding: 20px;
  vertical-align: middle;
}

.header-left {
  padding-top: 35vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  min-height: 65vh;
  color: white;
  font-size: calc(20px + 8.5vmin);
}

.header-right {
  padding-top: 20vh;
  background-color: #ccddff;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  color: #282c34;
  font-weight: bold;
  font-size: calc(13px + 1vmin);
}

h3{
  font-size: calc(10px + 1vmin);
}

#conversion-factor{
  padding: 8px;
  background-color: #ccc;
  border: 2px solid #aaa;
  border-radius: 10%;
}

#conversion-result{
  padding: 8px;
  background-color: #ccc;
  border: 2px solid #aaa;
  border-radius: 10%;
}